<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" >
  <!-- Brand -->
  <a class="navbar-brand text-uppercase" routerLink="">
    <img [src]="logoUrl" style="width:50px" /><span class="navlink">{{title}}</span></a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <fa name="home fa-2x"></fa>&nbsp;&nbsp;<span class="navlink"><strong>Home </strong></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-sm-12">
    <div class="card bg-info text-white">
      <div class="card-body" style="padding:0px">
        <p style="text-align:center;margin: 5px;"><strong>Apply Filters To your Task List</strong></p>
      </div>
    </div>
  </div>
</div>
<div style="min-height:20px"></div>
<div class="row">
  <div class="col-sm-7">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link btn btn-sm btn-outline-primary active" href="#">All Tasks Tasks</a>
      </li>&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link btn btn-outline-danger btn-sm" href="#">Urgent Tasks</a>
      </li>&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link btn btn-sm btn-outline-warning" href="#">Pending Tasks</a>
      </li>&nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-info btn-sm" data-toggle="dropdown" href="#">Category</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Personal</a>
          <a class="dropdown-item" href="#">Work</a>
          <a class="dropdown-item" href="#">Health</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-5">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="doChangeField('dept',srch)">
              <fa name="tasks"></fa>
            </button>
          </div>
        </div>
        <input type="email" name="srchValue" class="form-control" [(ngModel)]="srchValue" required #srch placeholder="Task Name" />
        <div class="input-group-prepend">
          <button class="btn btn-primary" (click)="doSearch()">
            <fa name="search"></fa>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div style="height:20px"></div>
<div class="container-fluid" *ngFor="let i of [1,2,3,4,5]">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" (mouseover)="cf1.hidden=false" (mouseleave)="cf1.hidden=true">
        <div class="card-body">Content</div>
        <div class="card-footer" hidden="true" #cf1>
          <div class="btn-group">
            <a routerLink="" class="btn">
              <fa name="edit"></fa>
            </a>
            <a routerLink="" class="btn">
              <fa name="trash"></fa>
            </a>
            <a routerLink="" class="btn ">
              <fa name="address-card"></fa>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card" (mouseover)="cf2.hidden=false" (mouseleave)="cf2.hidden=true" >
        <div class="card-body">Content</div>
        <div class="card-footer" hidden="true" #cf2>
          <div class="btn-group">
            <a routerLink="" class="btn">
              <fa name="edit"></fa>
            </a>
            <a routerLink="" class="btn">
              <fa name="trash"></fa>
            </a>
            <a routerLink="" class="btn ">
              <fa name="address-card"></fa>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" (mouseover)="cf3.hidden=false" (mouseleave)="cf3.hidden=true">
        <div class="card-body">Content</div>
        <div class="card-footer" hidden="true" #cf3>
          <div class="btn-group">
            <a routerLink="" class="btn">
              <fa name="edit"></fa>
            </a>
            <a routerLink="" class="btn">
              <fa name="trash"></fa>
            </a>
            <a routerLink="" class="btn ">
              <fa name="address-card"></fa>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height:20px"></div>
</div>